@import url("./components/styles/main.css");
.videos {
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
.action-item {
  text-align: center;
  
}
.action-item:hover {
  /* color: var(--primary-color); */
  font-size: 1.5rem;
  background-color: var(--primary-color);
  
}

.playlist-container{
  position: absolute;
  z-index: 25;
  display: flex;
  justify-content: center;
  align-items: center;
  height:fit-content;
  align-content: center;
 
}

.gif{
  padding:0;
  margin:0;
}

.responsive-sidebar{
  display: none;
  bottom:0;
  position:sticky;
  z-index: 20;
  text-align: center;
  width:100%;
  background-color: var(--primary-color);
  border-radius:1rem 1rem  0 0 ;
  
}

.video-player{
  width:60rem;
  height:35rem;
 
}
.small{
  width:6.2rem;
  display: flex;
  height:4.5rem;
 align-items: center;
 padding-left: 1rem;
 border-radius: 0.2rem;

}

.small:hover{
  background-color: var(--secondary-color);
  color:var(--primary-color)
}
@media only screen and (max-width: 600px) {
  .sidebar{
    display: none;
  }
  .responsive-sidebar{
    display: flex;
  }
  .video-player{
    width:29rem;
    height:25rem;
    align-items: center;
  }
  .gif{
    width:25rem;
    height:20rem;
  }
  
}
.main-container{
 
  justify-content: center;
  align-items: center; 
}

.single-video-bar{
  background-color: var(--primary-color);
  color:var(--primary-color);
  border-radius: 0 0 1rem 1rem;
}
.main-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
